@page "/admin/index"

@*@attribute [Authorize(Roles = InfernoSecurityConstants.Roles.Administrators)]
@attribute [Authorize(Policy = StandardPolicies.AdminAccess)]*@

<PageTitle>Admin</PageTitle>

<h2>Admin Dashboard</h2>